:root {
  --blue: #71bff0;
}

#map {
    height: 500px;
    width:  500px;
    margin: auto;
    border-radius: 50px
    }

#godown{
   padding-top: 10px;
}

.main-container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	margin: auto;
	position: relative;
	overflow: auto;
	width: 90%;
	height:auto;
	margin-bottom:30px;
}



.aspect-ratio-box {
    position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.aspect-ratio-box::after {
    display: block;
    content: '';
    /* 16:9 aspect ratio */
    padding-bottom: 51.5%;
}

/* Image is positioned absolutely relative to the parent element */
.aspect-ratio-box img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}



/* Centered text */
.centered {
  text-color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mainHeading{
	text-color:white;
	color:white;
	font: bold;
	font-family: "Times New Roman", Times, serif;
	font-size:4.5vw;
}

.subHeading{
	text-color:white;
	color:white;
	font: bold;
	font-family: "Times New Roman", Times, serif;
	font-size:2vw;
	text-align:center;
}

.webName{
	/*background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;*/
	color:#71bff0;
}

.mainButton{
	  background-color: #71bff0; /* Green */
	  border: none;
	  color: white;
	  padding: 10px 42px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	  border-radius: 5px;
	  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	  transition-duration: 0.1s;
}

.mainButton:hover {
  background-color: white; /* Green */
  color: #71ddf0;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.grid-item {
  font-size: 30px;
  text-align: center;
  padding: 30px;
  margin: 5px;
}

.dots{
	font-size:60px;
	text-align: center;
	color:#71bff0;
}

.center{
	text-align: center;
}

.grid-item2 {
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
  text-align: center;
  flex: 0 0 calc(40% - 40px);
  padding: 30px;
  margin: 50px;
}

.grid-item2:hover {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.desc{
	font-size:20px;
}